/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 9, 2024, 10:32:55 PM
    Author     : ViQuan
*/





.modal-message {
    margin-bottom: 20px;
    color: red;
}

.modal-buttons {
    display: flex;
    justify-content: center;
}

.modal-btn {
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#confirm-btn {
    background-color: #ffc800;/* Green */
    color: white;
    border: none;
}

#cancel-btn {
    background-color: #52bccd; /* Red */
    color: white;
    border: none;
}
.modal {
    display: none; /* Ẩn modal khi không được sử dụng */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* màu nền xám, với độ mờ */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
    position: relative;
    border-radius: 8px;
}


.modal-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background: #ffc107;
    border: none;
    border-radius: 5px;
    outline: none;
}

.modal-buttons button:hover {
    background-color: #f1f1f1;
}


.WNSVcC {
    align-items: center;
    background: transparent;
    border: 0;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    color: rgba(0, 0, 0, .8);
    cursor: pointer;
    display: flex;
    font-size: .875rem;
    font-weight: 300;
    height: 32px;
    justify-content: center;
    letter-spacing: 0;
    line-height: 1;
    outline: none;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    width: 32px;
}
.sapn01{
    font-size: 20px;
}
.sapn02{
    left : 0px;
    color :red;
}
.g2m9n4 {
    -webkit-appearance: none;
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    box-sizing: border-box;
    cursor: text;
    font-size: 16px;
    font-weight: 400;
    height: 32px;
    text-align: center;
    width: 50px;
}



.GpmJtT {
    align-items: center;
    display: flex;
}
.qNRZqG1{
    position: relative;
}
.bfr5fB{
    padding: 5px 10px;
    position: absolute;
    top: 110%;
    z-index: 1021;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: .125rem;
    box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.5);
}
.bfr5fB1{
    display: flex;
    flex-direction: row;


}
.bfr5fB1 >button{
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 0px 5px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .09);
    align-items: center;
    border-color: #ffd333;
    color: #1a1c1e;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.bfr5fB1 >button:hover {
    border-color: orange;
    color: red;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.ZQrI2V {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-top: 5px;
}
.xacnhan{
    background: #ee4d2d;
    color: #fff;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 500;
    padding: 5px 0;
    text-transform: uppercase;
    width: 140px;
}
.cancel-btn {
    background: #55555517;
    border: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1;
    margin-right: 6px;
    padding: 10px 0;
    text-transform: uppercase;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    width: 140px;
}
.delete {
    background: #55555517;
    border: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1;
    margin-right: 6px;
    padding: 10px 0;
    text-transform: uppercase;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    width: 70px;
}
.iIg1CN {
    align-items: center;
    display: flex;
    text-align: left;
    text-transform: capitalize;
}
.mM4TZ8 {
    color: #000000ad;
    border: 0px solid;
    background: none;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: .875rem;
    justify-content: space-between;
    max-width: 130px;
}
.c54pg1 {
    max-width: 180px;
}

.c54pg1 >a {
    color: rgba(0, 0, 0, .87);
    display: -webkit-box;
    margin-bottom: 5px;
    text-decoration: none;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-width: 100%;
    overflow: hidden;
}

.co-inspection {
    border: 1px solid #ee4d2d;
    border-radius: 2px;
    box-sizing: border-box;
    color: #ee4d2d;
    display: block;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    margin: 0 5px 5px 0;
    padding: 2px 4px;
    white-space: nowrap;
    max-width: 120px;
}

.ship_img {
    height: 18px;
    object-fit: contain;
    object-position: left;
}

.product_img {
    margin: 0px 20px;
    height: 100px;
    object-fit: cover;
    width: 100px;
}

.phanloai >div {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6C757D;
    text-align: left;
}

.nhom {

    display: flex;
    width: 100%;
    align-items: center;
}

.nhom1{
    text-align: center;
}
.product {
    display: flex;
    align-items: center;
}

.product>p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 25px;
}

.footer {
    border: 0px solid #000;
    background: #fff;
    max-width: 85%;
    margin: 20px auto;
    box-sizing: border-box;
    padding: .75rem 0;
    border-bottom: 2px dashed  #ffd33378;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#221f1f8a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    z-index: 3;
}
.footerend {
    border: 0px solid #000;
    background: #f3f1ef;
    max-width: 87%;
    margin: 20px auto;
    box-sizing: border-box;
    padding: .75rem 0;
    border-bottom: 2px dashed  #ffd33378;
    box-shadow: -3px -11px 15px rgba(0, 0, 0, 0.3);
    position: sticky;
    bottom: 0;
    z-index: 4;

}

.voucher {
    margin: 0 30px;
    align-items: center;
    display: flex;
    padding: .75rem 0;
    border-bottom: 2px dashed  #ffd33378;
}

.voucher > div {
    margin-right: 100px;
}

.voucher-button {
    background: none;
    border: 0;
    color: #05a;
    cursor: pointer;
    font-size: .875rem;
    margin-right: 100px;
    padding: 0;
    white-space: nowrap;
}

.total {
    align-items: center;
    display: flex;
    padding: .75rem 0;
}

.btn {
    margin: 0.5rem;
}

.stardust-checkbox {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 12px 0 20px;
}

.checkbox_input {
    width: 20px;
    height: 20px;
}

.total_thanhtien {
    display: flex;
}

.pay {
    padding: 3px 12px 3px 12px;
    border: 1px solid #000;
    background: #ffd333;
    max-width: 95%;
    margin: 0 auto;
    margin-right: 100px;
}

.select_all {
    background: 0;
    border: 0;
    cursor: pointer;
}
